.orders
	overflow-y scroll
	height 50%
	padding 15px
	border-bottom 1px solid #000
	&__table
		border-collapse collapse
		&-header
			background-color #eee
			border 2px solid #000
			padding 15px
		&-cell
			padding 10px
			border 2px solid #000	

.order
	&:hover
		cursor pointer			